.container {
  display: none;
}

@media (--xl) {
  .lg {
    display: contents;
  }
}

@media (--lg) {
  .lg {
    display: contents;
  }
}

@media (--md) {
  .md {
    display: contents;
  }
}

@media (--sm) {
  .sm {
    display: contents;
  }
}
