.item {
  padding: 10px 15px;
  font-size: 0.9rem;
  width: 90%;
  margin: 0 auto;
  text-decoration: none;
  color: #030712;
}

/* TODO: うまくいっていないので直す */
.item.active {
  background-color: #f3f4f6;
  border-radius: 10px;
}
