.item {
  padding: 13px 20px;
  font-size: 0.9rem;
  width: 90%;
  margin: 0 auto;
  text-decoration: none;
  color: #475569;
  font-weight: 700;
  border-radius: 10px;
}

.item:hover {
  background-color: #f3f4f6;
}

/* TODO: うまくいっていないので直す */
.item:global(.active) {
  background-color: #f3f4f6;
}
