.dashboard {
  background-color: #f8fafc;
  padding-top: 40px;
}

.title {
  color: var(--mantine-color-brand-blue-8);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 90%;
  margin: 0 auto;

  @media (--md-to-sm) {
    grid-template-columns: 1fr;
  }
}
