.header {
  grid-column: 1 / -1;
  padding: 1rem 4rem;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-width: 0 0 1px;
}

.header * {
  margin: 0;
}

.logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--mantine-color-brand-blue-7);
}

@media (--md) {
  .header {
    padding: 1rem 2rem;
  }
}
